@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.app-container{
}
.ant-layout-has-sider{
  max-height: calc(100vh - 64px);
}
.ant-dropdown-link{
  position: absolute;
  right: 20px;
  top: 20px;
  line-height: 24px;
}
.ant-calendar-picker, .ant-select{
  width: 75%;
}
.ant-card-head-title{
  color: #1E90FF;
  font-weight: bold;
  letter-spacing: 3px;
}
.app-content{
  min-height: calc(100vh - 150px)!important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
  height: 20px!important;
  line-height: 20px!important;
}